<h1>Password Forgotten?</h1>
<p>Enter your email address to reset your password:</p>
<div>
    <%= @valid %>
    <form action="/password/forgot" method="POST">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="text" name="email" placeholder="email" /> 
        <button type="submit">Submit</button>
    </form>
</div>
