<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn-usertype">
      <i class="fas fa-chalkboard-teacher"></i>
      Teacher
    </button>
  </div>
  <div class="col-sm-6">
    <button type="button" class="btn-usertype">
      <i class="fas fa-user-graduate"></i>
      Student
    </button>
  </div>
</div>

