<div class="container">
  <div class ="row mt-5">
    <div class="col-sm">
      <%= form_with model: @user, class: 'form-signin', local: true do |f| %>
        <div>
          <%= render partial: 'form', locals: { f: f }%>
          <%= f.submit 'Create account', class: 'btn btn-sm btn-dark btn-block' %>
          <hr>
        </div>
      <% end %>
      <div class="btn-omniauth">
        <%= render 'layouts/oauth_buttons' %>
      </div>
    </div>
  </div>
</div>
