<div>
    <div>
        <% articles('Google').items.each do |item| %>
            <div>
                <p><%= item.title %></p>
                <p><%= raw(item.description) %></p>
                <p><%= item.pubDate %></p>
            </div>
        <% end %>
    </div>
</div>